<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.collection_select :genre_name, Genre.all, :name, :name %>
  <%= f.text_field :note_name, list: "notes_autocomplete" %>
  <datalist id="notes_autocomplete">
    <% Note.all.each do |note| %>
      <option value="<%= note.name %>">
    <% end %>
  </datalist>
  <%= f.submit %>
<% end %>


