<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.text_field :genre_name, list: "genres_autocomplete" %>
  <%= f.collection_select :category_name, Category.all, :name, :name %>

  <%= f.submit %>
<% end %>


